.navbar {
    height: 50px;
    background-color: blueviolet;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    .navbar-left {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .navbar-right {
        cursor: pointer;
    }
}