.home {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 80vh;

    & span {
        font-weight: bold;
        margin-left: 10px;
    }
}